.large-input--wrapper {
  margin-bottom: var(--spacing-3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.large-input--label {
  font-size: var(--font-size-6);
  text-transform: uppercase;
  color: var(--text-subdued);
  font-weight: bold;
  letter-spacing: var(--letter-spacing-wide);
  margin: var(--spacing-2) 0;
  font-family: var(--font-family-heading);
}

.large-input--textarea {
  width: 100%;
  height: 20em;
  resize: vertical;
  padding: var(--spacing-3);
  font-family: var(--font-family-body);
  font-size: 1rem;
  border: none;
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-loose);
  border-bottom-right-radius: 0;
  color: var(--text);
}

.large-input--error {
  color: var(--error);
  font-size: var(--font-size-6);
  font-weight: bold;
  margin-bottom: var(--spacing-0);
}
