.header {
  width: 100%;
  background: var(--background);
  top: 0;
  padding: var(--spacing-4) var(--spacing-3) 0 var(--spacing-3);
}

.header--text {
  display: block;
  font-size: var(--font-size-1);
  line-height: 1.1em;
  margin: 0 0 var(--spacing-3) 0;
  max-width: 50rem;
}
