:root {
  --text: rgb(44, 59, 83);
  --text-subdued: rgb(93, 100, 117);
  --background: white;
  --background-subdued: rgb(245, 246, 247);
  --error: rgb(218, 33, 0);
  --accent-background: linear-gradient(to right, #ff4b2b, #ff416c);
  --accent-background-hover: rgb(56, 89, 255);
  --accent-background-pressed: rgb(12, 45, 213);
  --accent-background-disabled: rgb(91, 119, 145);
  --accent-foreground: white;
  --spacing-0: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 0.85em;
  --spacing-3: 1.4rem;
  --spacing-4: 1.9rem;
  --spacing-5: 2.6rem;
  --font-size-1: 2.4rem;
  --font-size-2: 1.9rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.2rem;
  --font-size-5: 1rem;
  --font-size-6: 0.8rem;
  --letter-spacing-wide: 0.1em;
  --font-family-body: "Nunito Sans", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --border-radius-tight: 0.2rem;
  --border-radius-loose: 0.8rem;
  --box-shadow-1: 0.25rem 0.25rem 0.8rem rgba(0, 0, 0, 0.15),
    1px 1px 3px rgba(0, 0, 0, 0.05);
  --border-light: rgb(230, 230, 230);

  font-family: var(--font-family-body);
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
