.job-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: var(--spacing-3);
  padding-bottom: 0;
}

.job-form--form {
  width: 100%;
}

.job-form--submit {
  padding: var(--spacing-1) var(--spacing-2);
  background: var(--accent-background);
  color: var(--accent-foreground);
  font-weight: bold;
  box-shadow: var(--box-shadow-1);
}

.job-form--submit:hover {
  background-color: var(--accent-background-hover);
}

.job-form--submit:active {
  background-color: var(--accent-background-pressed);
}

.job-form--submit:disabled {
  background-color: var(--accent-background-disabled);
}

.job-form--submit-area {
  background-color: var(--background-subdued);
  position: sticky;
  bottom: 0;
  padding: var(--spacing-2) var(--spacing-3);
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--border-light);
}
