.results-panel {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-3);
  white-space: pre-wrap;
  min-height: 80vh;
}

.results-panel--header {
  font-size: var(--font-size-4);
}

.results-panel--loading {
  color: var(--text-subdued);
}
